h1 {
    margin-bottom: 40px;
}
textarea.form-control {
    height: 250px!important;
}
.id-row {
    width: 5%;
}
.text-row {
    width: 80%;
}
.action-row {
    width: 10%;
}
.success-msg {
    margin-left: 40px;
    color: green;
}

