<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row header">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/list">List</a></li>
            </ul>
        </div>
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block scripts %}
        <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>
