<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/vendor/jquery/dist/jquery.min.js"></script>

    </body>
</html>
